.main-nav {
   
@media (max-width:$max-mobile) {
    display: none;
}

    ul {
        :first-child {
            margin-left: 0;
        }
        :hover {
            background-color: $color-accent;
        }
        display: flex;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
    }

    li {
        
        margin-left: 10px;
        padding: 33px 25px;
      
        
    }

    a {
        font-size: 14px;
        line-height: 24px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: inherit;
    }
}